body{
    background-color: #fe685d;
    text-align: center;

} 
h1{
    font-family: cursive;
    font-size: 50px
}
img {
    width: 400px;
    height: 400px;
    border-radius: 25px; 
    border: 5px solid white;
 

}
.main-section{
background-color: white;
    border-style: dashed white;
    text-align: center;

}
ul{ display: inline-block}
#happy {

      cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
    }
    